.alert-info:hover {
    background-color: rgba(7, 73, 149, 0.35);
    transition: 0.5s;
  }
  
.blue-cross {
    padding-left: 0.75rem;
  }

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem .55rem;
    color: inherit;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.fade {
    transition: opacity .15s linear;
}

.notification-container {
    display: grid; 
    grid-template-columns: 20px auto 20px; 
    grid-template-rows: auto; 
    gap: 0px 10px; 
    grid-template-areas: 
        "div1 div2 div3"
        "div1 div2 div3"; 

    position: absolute;
    left: 50%;
    transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
    top: 75px;

    padding-left: .75rem;
    padding-right: .75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    z-index: 1;
    background-color: #000e29;

    max-width: 95%;
    cursor: default;
    font-size: 12px;
    border: 1px solid rgba(6, 44, 241, 0.46);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    align-content: space-evenly;

}
.notification-icon { 
    grid-area: div1;
    margin-right: 0;
    align-self: center;
    font-size: 0.4rem;
}
.notification-content { 
    grid-area: div2;
    align-self: center;
    justify-self: left;
}
.notification-close { 
    grid-area: div3; 
    font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
    padding: 5px;
    justify-self: end;
    align-self: center;

}
  